<form>
   
  <input type="text" class="form-control" [(ngModel)] ="id" name="id"/> <br>
  <input type="submit" class="btn btn-lg btn-primary" (click)="submit()" />
  
  <div *ngIf="loading" class="alert alert-light" role="alert">
      checking status
  </div> <br>
  <div *ngIf="success" class="alert alert-success" role="alert">
      successfully queried
  </div>
  <div *ngIf="success" >
    {{result}}
  </div>
  <div *ngIf="failure" class="alert alert-danger" role="alert">
      Some error occoured
  </div>

</form>
